html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url('https://themefie.com/html/foodka/assets/img/testimonial/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none !important;
  }
  
a:hover{
    color: #ce1212 !important;
}
.signin {
    padding:30px 0px;
   
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap {
    position: relative;
}

.login-wrap h3 {
    font-weight: 500;
    font-size: 20px !important;
    color: #ce1212;
}

.form-group {
    position: relative;
    z-index: 0;
    margin-bottom: 20px !important;
}

.form-group a {
    color: gray;
}

.form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control-placeholder{
    color: #262626;
    font-size: 16px;
    margin-bottom: 10px;
}


.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #ce1212 !important;
}

.form-check-input:checked{
    background-color: #ce1212 !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #ce1212 !important;
 }

.field-icon {
    position: absolute;
    top: 55%;
    right: 15px;
    color: rgba(0, 0, 0, 0.3);
}


.btn-submit {
    background: #ce1212 !important;
    border: 1px solid #ce1212 !important;
    color: #fff !important;
    font-size: 18px !important; 
}
.btn-submit:hover{
    background: #fff !important;
    border: 1px solid #ce1212 !important;
    color: #ce1212 !important;
}
.signup{
    color: #ce1212;
}
.signup:hover{
    color: #ce1212;
}