html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.page-section {
  padding: 8rem 0;
}

a {
  text-decoration: none;
}

#mainNav .navbar-brand span{

  font-size:30px;
  
}

#logo_text{
  font-size: 25px;
  font-weight: 600;
  color: #212529;
  margin-left:-15px ;
}


#mainNav {
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  color: #212529;
  font-weight: 600;
  font-size: 20px;
}

#mainNav .navbar-brand:hover {
  color: #ce1212;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #212529;
  font-size: 18px;
  padding: 12px 0;
  font-weight: 600;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ce1212;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #ddd;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: #37373f;
    padding: 0 20px;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  background-image: url('https://up2client.com/envato/cafe360-HTML/main-file/assets/images/background-shape/bg-shape1.png');
  background-size: cover;
  position: relative;
  min-height: 60vh;
  background-repeat: no-repeat;
  padding: 160px 0 130px 0;
}

.hero h2 {
  font-size: 64px;
  margin-bottom: 20px;
  color: #37373f;
}

.hero h2 span {
  color: #ce1212;
}

.hero h4 {
  color: green;
  font-weight: 400;
  margin-bottom: 30px;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

.hero .hero-image {
  animation: rotate 2s alternate infinite linear both;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(10deg);
  }
}

.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #ce1212;
  box-shadow: 0 8px 28px rgba(41, 9, 9, 0.2);
}

.hero .btn-book-a-table:hover {
  background: rgba(206, 18, 18, 0.8);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #37373f;
  font-weight: 600;
}

.hero .btn-watch-video i {
  color: #ce1212;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: #ce1212;
}

.hero .btn-watch-video:hover i {
  color: rgba(206, 18, 18, 0.8);
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 36px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
}



/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url("http://themes.potenzaglobalsolutions.com/html/the-zayka/images/bg/07.jpg") center center;
  background-size: cover;
  padding: 100px 0;
}

@media (min-width: 1365px) {
  .call-to-action {
    background-attachment: fixed;
  }
}

.call-to-action h3 {
  color: rgb(64, 250, 64);
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

.call-to-action p {
  color: #fff;
  margin-bottom: 30px;
}

.call-to-action .cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.call-to-action .cta-btn:hover {
  background: #ce1212;
  border: 2px solid #ce1212;
  cursor: pointer;
}

/* -----------------------------------------------------------
# Cards
-----------------------------------------------------------*/

.container .card .image_icon img {
  width: 30%;
  /* height: 15vw; */
  transform: translate(0%, -80%);
  -webkit-transform: translate(110%, 10%);
}

.image_icon:hover {
  transform: scale(1.4);
  transition: all 1.25s ease;
}


.card-body h5 {
  text-align: center;
  font-size: x-large;
  font-style: bold;
}



/* FAQ CSS*/
.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  color: #ce1212;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #ce1212;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}


.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ce1212;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/* Testimonial Carousel CSS */


ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}


body .testimonial {
  padding: 100px 0;
}

.testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}

.testimonial .row .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ce1212;
  border-radius: 50%;
}

.testimonial .row .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ce1212;
  border-radius: 50%;
}

.testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}

.testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}

.testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}

.testimonial .row .tabs li:nth-child(1) figure img {
  margin-left: auto;
}

.testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}

.testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}

.testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}

.testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}

.testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
}

.testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}

.testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}

.testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}

.testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid #ce1212;
}

.testimonial .row .tabs li figure {
  position: relative;
}

.testimonial .row .tabs li figure img {
  display: block;
}

.testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #ffdbdb;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.testimonial .row .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.testimonial .row .carousel>h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}

.testimonial .row .carousel h1 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}

.testimonial .row .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}

.testimonial .row .carousel .carousel-indicators li {
  background: #000;
  background-clip: padding-box;
  height: 2px;
}

.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}

.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-weight: 700;
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  body .testimonial .row .tabs {
    margin-right: 25px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-bottom: 3px solid #ce1212;
  padding: 30px;
  width: 100%;
  background-color: #f9f9fa;
}

.contact .info i {
  font-size: 20px;
  color: #ce1212;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #5f687b;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #949cac;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #ce1212;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i{
  background: #ce1212;
  color: #fff;
}

.contact .contact-form {
  width: 100%;
  border-bottom: 3px solid #ce1212;
  border-radius: 12px;
  padding: 30px;
  background-color: #f9f9fa;
}

.contact .contact-form .form-group {
  padding-bottom: 8px;
}


.contact .contact-form input,
.contact .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
  border-color: #ce1212;
}

.contact .contact-form input {
  height: 44px;
}

.contact .contact-form textarea {
  padding: 10px 12px;
}

.contact .contact-form button[type=submit] {
  background: #ce1212;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .contact-form button[type=submit]:hover {
  background: #ce1212;
}


/* Dynamic text */
.wrapper {
  display: inline-flex;
  margin-left: -30px;
}

.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 5px;
  height: 90px;
  line-height: 80px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #ce1212;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 1px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  background: white;
  height: 115%;
  width: 100%;
  border-left: 2px solid #ce1212;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}


/* Footer CSS */

#footer {
  background: #3a3e36;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #262626;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
  color: #ce1212;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  display: inline-block;
  background: #3c4133;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}

#footer .footer-top .social-links a:hover {
  background: #ce1212;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #3c4133;
}

#footer .footer-top h4::after {
  background: #ce1212;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 0 0 15px 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ce1212;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-contact ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

#footer .footer-top .footer-contact ul li {
  padding: 0 0 15px 0;
}

#footer .footer-top .footer-contact ul a {
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .footer-contact ul a:hover {
  color: #ce1212;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type=email] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border-radius: 4px 0 0 4px;
}

#footer .footer-top .footer-newsletter input[type=submit] {
  background: #ce1212;
  border: 0;
  border-radius: 0 4px 4px 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type=submit]:hover {
  background: #ce1212;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.footer-links ul li i {
  color: #fff;
  padding-right: 14px;
  font-size: 12px;
}

.footer-contact ul li i {
  color: #ce1212;
  padding-right: 14px;
}

.fa-map-marker:before {
  content: "\f041";
}

